# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Popular Languages in Data Science
- List of commonly used libraries by Data Scientists
- Arithmetic Expression in Python
- Convert Hours to Minutes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. TensorFlow
3. Scikit Learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Apache Spark       |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

$if (1 + 1) > 1$

In [2]:
(3*4)+5
# his a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Vinicius Garcia